@page
@model IndexModel
@{
    ViewData["Title"] = "Доставка вещей из-за рубежа";
}

@section Links {
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/modal.css" rel="slylesheet" />
}

@section SecretButton{
    <a class="zaklad" type="submit" asp-page="AdminPanel"><img src="img/mini-icon/Burger.svg" alt="burger"></a>
}

@section HeaderButton{
    <a class="btn btn-primary text-nowrap head-btn" type="submit" asp-page="AdminPanel">Войти</a>
}

@section Main{
    <main>

        <!-- hero-calcult section -->
        <section class="hero-section">        
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6 col-lg-12 col-xs-12">
                        <div class="row">
                            <div class="col-xxl-12 col-lg-6 col-xs-12">
                                <h2 class="hero-h2-title">Без проблемная доставка купленных вещей из США, Европы и Азии в Россию</h2>
                                <p class="fs-5 hero-p">Сэкономьте на покупках и наслаждайтесь мировыми брендами — наш сервис позволяет вам легко и удобно заказывать товары со всего мира и получать их в России</p>
                            </div>
                            <div class="col-xxl-12 col-lg-6 col-xs-12">
                                <img alt="box" class="img-fluid align-self-center" src="img/hero.png"> 
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-lg-12  col-xs-12 calcult rounded-4" id="calcult">
                        <div class="row">
                            <h2>Калькулятор доставки</h2>
                        </div>
                        <div class="row row-form-p">
                            <p class="form-p">Посчитайте, сколько будет стоить перевозка покупки из зарубежа</p>
                        </div>

                        <form class="row mx-auto" method="post" asp-antiforgery="true" asp-page-handler="Calculation" id="calculationForm">
                            <div class="col-12 mb-4 abs-div">
                                <input asp-for="Calculation.Name" class="form-control" id="inputName" placeholder="Имя" />
                                <span asp-validation-for="Calculation.Name"/>
                            </div>
                            <div class="col-6 mb-4 abs-div">
                                <input asp-for="Calculation.Email" class="form-control" id="inputEmail" placeholder="Почта" />
                                <span asp-validation-for="Calculation.Email" />
                            </div>
                            <div class="col-6 mb-4 abs-div">
                                <input asp-for="Calculation.PhoneNumber" class="form-control" id="inputNumber" placeholder="Телефон" />
                                <span asp-validation-for="Calculation.PhoneNumber" />
                            </div>
                            <div class="col-6 mb-4 abs-div">
                                <input asp-for="Calculation.Square" type="number" class="form-control" id="inputSquare" placeholder="Общая площадь, м^2" />
                                <span asp-validation-for="Calculation.Square" />
                            </div>
                            <div class="col-6 mb-4 abs-div">
                                <input asp-for="Calculation.Weight" type="number" class="form-control" id="inputWeight" placeholder="Вес, кг" />
                                <span asp-validation-for="Calculation.Weight" />
                            </div>
                            <div class="col-6 mb-4 abs-div">
                                <input asp-for="Calculation.BuyCountry" class="form-control" id="inputCountryBuy" placeholder="Страна покупки" />
                                <span asp-validation-for="Calculation.BuyCountry" />
                            </div>
                            <div class="col-6 mb-4 abs-div">
                                <input asp-for="Calculation.BuyCity" class="form-control" id="inputCityBuy" placeholder="Город покупки" />
                                <span asp-validation-for="Calculation.BuyCity" />
                            </div>
                            <div class="col-6 mb-4 abs-div">
                                <input asp-for ="Calculation.DeliveryRegion" class="form-control" id="inputRegionDelivery" placeholder="Область доставки" />
                                <span asp-validation-for="Calculation.DeliveryRegion" />
                            </div>
                            <div class="col-6 mb-4 abs-div">
                                <input asp-for="Calculation.DeliveryCity" class="form-control" id="inputCityDelivery" placeholder="Город доставки" />
                                <span asp-validation-for="Calculation.DeliveryCity" />
                            </div>
                            <div class="col-12 mb-3 d-grid">
                                <button type="submit" class="btn btn-primary mb-3">Заказать расчёт</button>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </section>

        <!-- benefits section -->
        <section class="benefits">
            <div class="container" id="about">
                <div class="row benefits-div-h2">
                    <h2>Наши преимущества</h2>
                </div>
                <div class="row">
                    <benefit src="img/benefits/Board.svg" head="Растоможка груза">
                        Мы берём на себя все формальности и бумажную волокиту, связанную с растаможкой груза
                    </benefit>
                    <benefit src="img/benefits/Package.svg" head="Надёжная упаковка">
                        Все товары упаковываются нашими специалистами с особым вниманием к деталям, гарантируя, что они дойдут в безопасности и в отличном состоянии
                    </benefit>
                    <benefit src="img/benefits/Delivery.svg" head="Быстро и выгодно">
                        Мы предлагаем быструю и выгодную доставку, чтобы вы могли насладиться покупками как можно скорее
                    </benefit>
                    <benefit src="img/benefits/best-support.svg" head="Удобный сервис">
                        Стремимся сделать процесс доставки максимально удобным для вас, чтобы опыт остался приятным и беззаботным
                    </benefit>
                    <benefit src="img/benefits/clear-info.svg" head="Прозрачность работы">
                        Мы предоставляем полный контроль над каждым этапом доставки, от момента заказа до момента прибытия заказа
                    </benefit>
                    <benefit src="img/benefits/garantee.svg" head="Страхование груза">
                        Наше страхование обеспечивает полную защиту и покрытие почти все неприятные и неожиданные ситуации
                    </benefit>
                </div> 
            </div>
        </section>

        <!-- quality section -->
        <section class="quality">
            <div class="container" id="guarantees">
                <div class="row  benefits-div-h2">
                    <div class="col-12">
                        <h2>Гарантии качества</h2>
                    </div>
                    <div class="col-12 d-grid mx-auto col-par">
                        <p>Наши гарантии качества включают в себя полный спектр документов, необходимых для ввоза и вывоза товаров, а также для успешного бизнеса на мировом рынке.Мы предоставляем вам надёжность и уверенность</p>
                    </div>
                </div>
                <div class="row quality-items">
                    <guarantee src="img/certificate-russia.png">Свидетельство о регистрации в РФ</guarantee>
                    <guarantee src="img/certificate-usa.png">Свидетельство о регистрации в США</guarantee>
                    <guarantee src="img/certificate-china.png">Свидетельство о регистрации в Китае</guarantee>
                    <guarantee src="img/certificate-uk.png">Свидетельство о регистрации в Великобритнии</guarantee>
                </div>
                <div class="row">
                    <div class="col-12 d-grid mx-auto col-btn-quality">
                        <a class="btn btn-primary btn-quality text-nowrap  rounded-4" type="submit" asp-page="Index"><span>Показать больше документов</span></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- reviews section -->
        <section class="reviews">
            <div class="container" id="reviews">
                <div class="row reviews-div-h2">
                    <h2>Отзывы</h2>
                </div>
                <div class="row">
                    <div id="carousel" class="carousel slide">

                        <div class="carousel-inner container">
                            <div class="carousel-item active">
                                <div class="row">
                                    <review author="Анна">Я заказала последний iPhone из США через ваш сервис, и доставка прошла быстро и без каких‑либо проблем. Гарантии качества и надёжная упаковка сделали мой опыт покупки невероятно позитивным</review>
                                    <review author="Алексей">Я уже несколько лет заказываю дизайнерскую одежду из Франции через ваш сервис, и он никогда меня не подводил. Важно иметь надёжную компанию, которая позаботится о вашем заказе и предоставит все необходимые документы для ввоза в Россию</review>
                                </div>
                            </div>
                            
                            <div class="carousel-item">
                                <div class="row">
                                    <review author="Ольга">Я уже несколько лет заказываю дизайнерскую одежду из Франции через ваш сервис, и он никогда меня не подводил. Важно иметь надёжную компанию, которая позаботится о вашем заказе и предоставит все необходимые документы для ввоза в Россию</review>
                                    <review author="Игорь">Заказал шикарные часы из Швейцарии, и доставка была невероятно быстрой. Ваш сервис делает интернет-шоппинг более доступным и удобным</review>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <review author="Екатерина">Ваш сервис действительно изменил мой способ покупок. Я больше не переживаю о таможенных вопросах и документах — все у вас в порядке. Спасибо за ваше качество и надежность</review>
                                    <review author="Дмитрий">Я заказал редкий антикварный предмет из Японии через ваш сервис, и остался впечатлен. Все пришло в отличном состоянии, и ваша гарантия качества действительно работает. Спасибо за ваше профессиональное обслуживание</review>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                            <img src="img/mini-icon/Arrow.svg" alt="">
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                            <img src="img/mini-icon/Arrow.svg" alt="">
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                </div>
            </div>
        </section>
        
        <!-- questions section (based calcult) -->
        <section class="questions">
            <div class="container mx-auto rounded-4">
                <div class="calcult rounded-4">
                    <div class="row">
                        <h2>Остались вопросы?</h2>
                    </div>
                    <form class="row mx-auto" method="post" asp-antiforgery="true" asp-page-handler="Question" id="questionForm">
                        <div class="col-6 mb-4 abs-div">
                            <input asp-for="Question.Name" class="form-control" id="inputName2" placeholder="Имя" />
                            <span asp-validation-for="Question.Name" />
                        </div>
                        <div class="col-6 mb-4 abs-div">
                            <input asp-for="Question.Email" class="form-control" id="inputEmail2" placeholder="Почта" />
                            <span asp-validation-for="Question.Email" />
                        </div>
                        <div class="col-6 mb-4 abs-div">
                            <input asp-for="Question.PhoneNumber" class="form-control" id="inputNumber2" placeholder="Телефон" />
                            <span asp-validation-for="Question.PhoneNumber" />
                        </div>
                        <div class="col-6 mb-4 abs-div">
                            <input asp-for="Question.Subject" class="form-control" id="inputSquare2" placeholder="Тема вопроса" />
                            <span asp-validation-for="Question.Subject" />
                        </div>
                        <div class="col-12 mb-4 abs-div-textarea">
                            <textarea asp-for="Question.Message" class="form-control questions-message" placeholder="Сообщение..." id="floatingTextarea2" style="height: 150px"></textarea>
                            <span asp-validation-for="Question.Message" />
                          </div>
                        <div class="col-12 mb-3 d-grid">
                            <button type="submit" class="btn btn-primary mb-3" id="application">Оставить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </section>
    </main>
}

@section Modals{
    @if (Model.SendCalculation)
    {
    <modal id="modalC" id-label="modalCLabel" title="Расчет успешно заказан!">После подсчета стоимости доставки на вашу почту придет письмо с ответом</modal>
    }
    @if (Model.SendQuestion)
    {
        <modal id="modalQ" id-label="modalQLabel" title="Заявка успешно отправлена!">Ответ на заявку придет на вашу почту в ближайшее время</modal>
    }
}

@section Scripts{
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/indexModal.js"></script>
}
