@page

@model FromboardDelivery.Pages.LoginModel
@{
    ViewData["Title"] = "Вход";
}

@section Links{
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">
}

@section SecretButton {
    <a class="zaklad" type="submit" asp-page="Index"><img src="img/mini-icon/Burger.svg" alt="burger"></a>
}

@section HeaderButton {
    <a class="btn btn-primary text-nowrap head-btn" type="submit" asp-page="Index">Главная</a>
}

@section Main{
    <main class="login-main">
        <section>
            <div class="container login">
                <div class="row">
                    <div class="calcult rounded-4">
                        <div class="row mx-auto">
                            <h2>Вход</h2>
                        </div>
                        <form class="row mx-auto" method="post" asp-antiforgery="true">
                            <div class="col-12 mb-4  abs-div">
                                <input asp-for="Admin.Email" class="form-control" id="email" placeholder="Почта" />
                                <span asp-validation-for="Admin.Email" />
                            </div>
                            <div class="col-12 mb-4  abs-div">
                                <input asp-for="Admin.Password" class="form-control" id="password" placeholder="Пароль" />
                                <span asp-validation-for="Admin.Password" />
                            </div>
                            <div class="field-validation-error message">@Model.Message</div>
                            <div class="col-12 mb-3 d-grid align-content-center">
                                <button type="submit" class="btn btn-primary mb-3 login-btn">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
}