<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body>

    @RenderSection("Header")
    @RenderSection("Main")
    @RenderSection("Footer")

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>